* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: Arial, sans-serif;
    padding-top: 100px;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 20px;
}

button {
    padding: 8px 16px;
    background-color: #00ffaa;
    color: #0e0c0c;
    font-size: 24px;
    border: none;
    cursor: pointer;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 8px;
    background-color: #f9f9f9;
    border-radius: 4px;
    cursor: pointer;
    
}

#List{
    text-decoration: line-through;
}

